/* Custom monospaced fonts for text areas */
@import "fontDefinitions.css";

#outputArea, #inputField {
  -fx-font-family: "Liberation Mono", "DejaVu Sans Mono", monospace;
}

#sendButton {
  -fx-padding: 4 20 4 20;
  -fx-font-weight: bold;
}

#quitButton {
  -fx-padding: 5 20 5 20;
  -fx-font-weight: bold;
}

/* Consistent look for labels */
.boldLabel {
  -fx-font-weight: bold;
}
