[Desktop Entry]
Version=1.0
Type=Application

Name=WeiDU Mod Launcher
Comment=A graphical frontend for WeiDU Mods
Categories=Game;Java;

Icon=io.github.infinitytools.WeiduModLauncher
Exec=WeiduModLauncher %f
Terminal=false
MimeType=application/x-tp2
