<?xml version="1.0" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>LSMinimumSystemVersion</key>
  <string>11</string>
  <key>CFBundleDevelopmentRegion</key>
  <string>English</string>
  <key>CFBundleAllowMixedLocalizations</key>
  <true/>
  <key>CFBundleExecutable</key>
  <string>WeiDU Mod Launcher</string>
  <key>CFBundleIconFile</key>
  <string>wml</string>
  <key>CFBundleIdentifier</key>
  <string>io.infinitytools.wml</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleDisplayName</key>
  <string>WeiDU Mod Launcher</string>
  <key>CFBundleName</key>
  <string>WeiDU Mod Launcher</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0</string>
  <key>CFBundleSignature</key>
  <string>????</string>
  <!-- See https://developer.apple.com/app-store/categories/ for list of AppStore categories -->
  <key>LSApplicationCategoryType</key>
  <string>public.app-category.games</string>
  <key>CFBundleVersion</key>
  <string>1.0.0</string>
  <key>NSHumanReadableCopyright</key>
  <string>© 2023, Argent77</string>
  <key>NSHighResolutionCapable</key>
  <string>true</string>
  <key>NSSupportsAutomaticGraphicsSwitching</key>
  <true/>
  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeName</key>
      <string>TP2</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Default</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>tp2</string>
      </array>
      <key>CFBundleTypeIconFile</key>
      <string>wml_open</string>
    </dict>
  </array>
 </dict>
</plist>
